<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Greenhouse APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input label="SSID" [(ngModel)]="ssid" name="ssid"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Password" [(ngModel)]="password" type="password" name="password"></ion-input>
  </ion-item>
  <ion-button (click)="saveWifi()">Save Wi-Fi</ion-button>
</ion-content>